.search-section {
    @extend .container;
}

.search-section__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
        justify-content: left;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.search-section__item {
    flex-basis: 100%;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 20px)/2);
    }

    @media screen and (min-width: 1280px) {
        flex-basis: calc((100% - 40px)/3);
    }
}

.search-section__image {
    margin-bottom: 10px;
    border-radius: 5px;
}

.search-section__title {
    text-transform: uppercase;
    color: $main-text-color;
    display: block;
    font-weight: 500;
    font-size: 20px;
}

.search-section__discription {
    text-transform: uppercase;
    color: $accent-color;
    display: block;
    font-weight: 500;
}

.pag-button__current {
    background-color: $accent-color;
}